$menuHeight: 65px+10px;
@mixin transition {
      transition-property: background-color opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
}

html, 
body  {
      width: 100vw;
      height: 100vh;
      position: fixed;
      padding: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

}

#mazeContainer {
      transition-property: opacity;
      transition-duration: 1s;
      transition-timing-function: linear;
      top: $menuHeight;
      opacity: 0;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.30);
      margin: auto; 

}

#mazeCanvas {
      margin: 0;
      display: block;
      border: solid 1px black;
}

input,
select {
      @include transition;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.30);


}

